.PlanLinksCard{
  border: 1px solid grey;
  width: 30%;
  padding: 3%;
  border-radius: 10px;
  cursor: pointer;
}
.selected{
  background-color: hsl(217, 100%, 97%);
}
.PlanLinksCard:hover{
  border: 1px solid rgb(71, 61, 255);
}
.PlanLinksCard img{
  margin-bottom: 3rem
}
.PlanLinksCardDetails h3{
  color: rgb(2, 41, 90);
}
.price{
  color: grey;
}
.free{
  color: rgb(2, 41, 90);
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .PlanLinksCard{
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .PlanLinksCard img{
    margin: 0;
    margin-right: 1rem;
  }
}