.Thankyoupage{
  /* border: 3px solid; */
  text-align: center;
  height: 100%;
  /* position: relative; */
}

.Thankyou{
  position: relative;
  top: 25%;
}

.Thankyou h1{
  font-weight: 800;
  font-size: 3rem;
  color: rgb(2, 41, 90);
  margin: .5rem 0;
}

.Thankyou p{
  color: grey;
  font-size: 1.2rem;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .Thankyoupage{
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
  .Thankyou p{
    font-size: 1.3rem;
  
  }
}